{% extends 'bootstrap/base.html' %}

<!-- Title Goes Here -->
{% block title %}
    {% if title %}
        Bolder Chat | {{ title }}
    {% else %}
        Bolder Chat
    {% endif %}
{% endblock %}

<!-- Head Section -->
{% block head %}
    {{ super() }}
    <link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/chat.png')}}">
{% endblock %}

<!-- Link Styles -->
{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
{% endblock %}

<!-- Navbar -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=" {{ url_for('home') }} ">Bolder Chat</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">                                 
                <li><a href=" {{ url_for('login') }} ">Login</a></li>            
            </ul>                       
        </div>
    </div>
</nav>
{% endblock %}

<!-- Main Content Section -->
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert"> {{ message }} </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block app_content %}

    {% endblock %}
    </div>

{% endblock %}

<!-- JS Section -->
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
{% endblock %}

